---
layout: splash
author_profile: false
title: Home

main:
  - image_path: /assets/images/logo_500x500.png
    alt: "edgenoon.ai logo"
    title: "edgenoon.ai"
    excerpt: 'This blog is a result of our coopertive work. We want to improve and share our skills. We are Poznań University of Technology students interested in Machine Learning and Computer Vision. We would like to develop and deploy solutions on embedded systems and make edge AI devices.'

cats:
    - image_path: assets/images/edge.jpg
      alt: "edge image - jetson nano"
      image_caption: "NVIDIA Jetson Nano"
      title: "Edge devices"
      excerpt: "Part dedicated to small devices starting on general embedded systems and ending on edge AI devices. We want to try different embedded system and compare them."
      url: "edge"
      btn_label: "Read More"
      btn_class: "btn--primary"

    - image_path: /assets/images/ros.jpg
      alt: "ros image"
      image_caption: "Occupancy grid map and robot path"
      title: "Robot Operating System"
      excerpt: "Section describes use cases in the context of robotics, autonomous machines and drones. We show solutions of problems which we encountered during our work."
      url: "robot-operating-system"
      btn_label: "Read More"
      btn_class: "btn--primary"

    - image_path: /assets/images/sp.jpg
      alt: "signal processing image - image localization"
      image_caption: "Result of YoloV3 model"
      title: "Signal processing"
      excerpt: "Blog part which mainly show possiblity of Computer Vision as one of the most interesting topic of signal processing. It include methods' implementations and benchmarks."
      url: "signal-processing"
      btn_label: "Read More"
      btn_class: "btn--primary"

we:
    - image_path: /assets/images/bio-MatPiech.jpeg
      alt: "placeholder image 2"
      title: "Mateusz Piechocki"
      excerpt: "Master's Degree student of Automatic Control and Robotics at Poznań University of Technology. Member of PUT Motorsport Driverless team. Interested in machine learning, robotics and computer vision."
    - image_path: /assets/images/bio-bartoszptak.jpeg
      alt: "placeholder image 2"
      title: "Bartosz Ptak"
      excerpt: "Student of Robots and Autonomous Systems specialization at Poznan University of Technology, interested in GPUs, EDGE devices, deep learning and image processing"
---

{% include feature_row id="main" type="left" %}

<h1>Categories</h1>
{% include feature_row id="cats" %}

<h1>About us</h1> 

{% include feature_row id="we" type="two" %}
